<form>
	<div class="form">
	<input type="text" name="old" id="username" [(ngModel)]="username" placeholder="Unesite korisnicko ime" />
		<br> 
		<input type="password" name="old" id="old" [(ngModel)]="oldPassword" placeholder="Trenutna lozinka" />
		<br> 
		<input type="password" name="new" id="new" [(ngModel)]="newPassword" placeholder="Nova lozinka" />
		<br> 
		<br> 
		<a (click)="changePassword()" type="button" id="button" class="button">Potvrdi</a> 
		<br>
		<div *ngIf="error" class="error">{{error}}</div>
		<div *ngIf="success" class="success">{{success}}</div>
		<br>
	</div>
	<br>

</form>